* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2b2b5b;
    cursor: url(images/spoon.png), auto;
}

p {
    color: #121212;
    margin: 1.5rem;
    line-height: 1.5rem;
}

a {
    color: plum;
}

a:hover {
    color: white
}

main,
header span,
footer p {
    max-width: 64rem;
}

nav ul {
    max-width: 640px;
    margin: 0 auto;
}

/* media stuff */

@media only screen and (max-width: 768px) {
    img.hero {
        width: 100%;
        margin: 0 auto;
    }

    img.evillious {
        transform: scale(1.8);
        margin: 1rem 5rem 1.5rem 4rem;
    }

    img.wrapped {
        transform: scale(2);
        margin: 1.5rem;
    }

    nav {
        background-image: linear-gradient(#afccd4, #2b2b5b);
        padding: 0.1rem
    }

    nav ul {
        display: none;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 0.83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 700;
        border-bottom: 1px solid plum;
        text-align: center;
    }

    nav li.inactive {
        background-color: rgba(0, 0, 0, 0.25);
    }

    nav li.active {
        display: block;
        padding: 0.83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.25);
        text-align: center;
    }

    main {
        max-width: 80rem;
        margin: 0 auto;
    }

    .gallery figure {
        width: 60%;
    }

    .featured figure {
        width: 60%;
        height: auto;
        transform: translateX(-1.5rem);
    }

    figure.seth {
        width: 35%;
        margin-left: -2rem;
        transform: translateX(5rem);
    }

    .tooltip {
        width: 100%;
        float: right;
        margin-bottom: 1.5rem;
        margin-top: -1.5rem
    }

    .tooltip p {
        transform: scale(0.5);
        margin-top: 1rem;
        margin-right: -1rem
    }
}

/* header stuff */

header {
    display: block;
    color: black;
    background-color: #afccd4;
    padding-top: 1rem;
    text-align: center;
    position: relative
}

header span {
    font-size: 2rem;
    font-family: "IM Fell English", serif;
    font-weight: 550;
}

/* navigation stuff */

@media only screen and (min-width: 769px) {
    img.hero {
        width: 75%;
        height: auto;
        margin: 0 auto;
        float: left;
    }

    nav {
        background-image: linear-gradient(#afccd4, #2b2b5b);
        padding: 0.1rem;
    }

    nav ul {
        width: 100%;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    nav a {
        display: block;
        padding: 0.83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 700;
    }

    nav li.active a {
        border: 1px solid plum;
        border-radius: 10px;
        width: fit-content;
        padding: 10px
    }

    nav li.active a:hover {
        color: plum;
    }

    main {
        margin: 0 auto;
    }
}

/* main stuff */

main {
    padding: 1rem;
}

main h1,
h2,
h3,
h4 {
    font-family: "IM Fell English", serif;
}

main h2,
h3,
h4 {
    margin-left: .5rem;
}

main h1 {
    text-align: center;
}

h1.welcome {
    text-align: center;
}

main h1.characters-by-arc {
    margin-left: 8rem;
}

main h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

main h3 {
    font-size: 1.25rem;
    color: #090909;
}

main h4 {
    color: #121212;
    margin-left: 1rem;
    font-size: 1.3rem;
}

main p {
    margin-right: 1.5rem;
}

main ol {
    font-size: 1.3rem;
    color: #121212;
    line-height: 2.5rem;
    margin-left: 0.5rem;
    list-style-position: inside;
}

main ul li {
    list-style-type: circle;
}

main address {
    margin-left: 2rem;
    color: grey;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}

main dl {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

main dl dt {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

main dl dd {
    color: #121212;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

/* images stuff here */

header img {
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -4rem;
    margin-top: -0.5rem;
}

img.hero {
    padding: 1.5rem;
}

img.wrapped {
    float: left;
    width: 30%;
    padding: 2.5rem;
    height: auto;
}

img.evillious {
    float: right;
    width: 40%;
    padding: 1.5rem;
}

img.border-left {
    float: left;
    width: 20%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.7rem;
}

img.border-right {
    float: right;
    width: 20%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.7rem;
}

figure.seth {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    margin-right: 12rem;
}

figure.seth img {
    width: 150%;
    height: auto;
    margin-right: -1rem;
    margin-left: -1rem;
}

figure.seth figcaption {
    margin-top: 1rem;
    clear: both;
}

div.tooltip {
    margin-right: 10rem;
}

.tooltip img {
    float: right;
    width: 40%;
    height: auto;
    clear: both;
}

.tooltip:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.tooltip:hover p {
    display: block;
}

.tooltip p {
    float: right;
    display: none;
    position: relative;
    background-color: black;
    opacity: 60%;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: -3rem;
    font-size: 1rem;
    color: #afccd4;
    text-align: center;
}

.tooltip p:after {
    float: right;
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

div.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    height: auto;
    float: right;
}

div.featured figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -7rem;
}

.featured figure figcaption {
    margin-top: 1rem;
}

div.featured img {
    margin: 0 auto;
    width: 60%;
    height: auto
}

div.featured img:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 10;
    position: relative;
}

div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
}

div.gallery img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

div.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.gallery figcaption {
    text-align: center;
    clear: both;
    margin-top: 0.5rem;
}

/* form stuff */

.lust p,
.lust figure,
.gluttony p,
.gluttony figure,
.pride p,
.pride figure,
.sloth p,
.sloth figure,
.envy p,
.envy figure,
.greed p,
.greed figure,
.wrath p,
.wrath figure {
    width: 40%;
    height: auto;
    display: none;
}

.lust:hover p,
.lust:hover figure,
.gluttony:hover p,
.gluttony:hover figure,
.pride:hover p,
.pride:hover figure,
.sloth:hover p,
.sloth:hover figure,
.envy:hover p,
.envy:hover figure,
.greed:hover p,
.greed:hover figure,
.wrath:hover p,
.wrath:hover figure {
    display: block;
}

.original-sin p,
.original-sin figure {
    width: 40%;
    height: auto;
    visibility: hidden;
}

.original-sin:hover p,
.original-sin:hover figure {
    visibility: visible;
}

:required:invalid {
    border: 2px solid red;
}

[type="text"],
[type="tel"],
[type="email"],
[type="checkbox"],
[type="radio"],
select,
textarea,
label {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    font-size: 1.1rem;
    padding: 0.3rem;
}

[type="text"],
[type="tel"],
[type="email"],
select,
textarea {
    padding: .3rem;
    border: 1px solid #000;
    background-color: #afccd4;
    font-size: 0.9rem;
    height: auto;
}

[type="text"],
[type="tel"],
[type="email"] {
    height: 1rem;
    width: fit-content;
}

div.information label {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 6rem;
    width: 300px;
}

fieldset {
    border: 1px solid #afccd4;
    border-radius: 3px;
    margin-bottom: 1rem;
    color: #121212;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    padding: 1.2rem;
}

legend {
    font-size: 1.2rem;
    font-weight: 700;
}

input[type="submit"] {
    margin-left: 1rem;
    background-color: #665896;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* footer stuff */

footer {
    background-color: #afccd4;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0 auto;
    font-size: 0.8rem;
    letter-spacing: 3px;
}